{% extends 'layout.html' %}

{% block title %}
    Assessments
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h1 class="display-3">Self Assessments</h1>
        <small>Welcome, {{session.username.replace(".", " ").title()}}</small>

        <p class="lead">
            The Innovation Committee. 
            Here, ever committe member can get to self-assess his/her contribution to the committee through out the drive.
        </p>
    </div>
</div>

<a class="btn btn-primary" href="/do_assessment_page_1">Begin Self-Assessment</a>
<p></p>

<div>
    
    <p></p>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Created By</th>
            <!-- <th>PF Number</th> -->
            <!-- <th>Customer Account</th> -->
            <th>Product</th>
            <!-- <th>Crosssell Type</th> -->
            <th>Creation Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for assessment in assessments %}
        <tr>
            <td>{{assessment.id}}</td>
            <td>{{assessment.name}}</td>
            <td>{{assessment.product}}</td>
            <td>{{assessment.submission_date}}</td>
            <td><a href="/edit_assessment_page_1/{{assessment.id}}" class="btn btn-info" pull-right>Edit</a></td>
            <td>
                <form action="{{url_for('delete_assessment', id=assessment.id)}}" method='post'>
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="DELETE" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}