{% extends 'layout.html' %}

{% block title %}
    Assessments
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <!-- <h1 class="display-3">About Loan Restructure</h1>
        <p class="lead">
            Loan Restructure in an app built by Strategy and Research. 
            It is an answer to the bank's initiative to help clients and loan officers to easily restructure loans
            at a reduced cost in this covid times.
        </p>         -->
        <h1 class="display-3">Self Assessments</h1>
        <p class="lead">
            The Innovation Committee. 
            Here, ever committe member can get to self-assess his/her contribution to the committee through out the drive.
        </p>
    </div>
</div>

<a class="btn btn-primary" href="/add_crosssell">Begin Self-Assessment</a>
<p></p>

<ul class="list-group">
    {% for crosssell in crosssells %}
        <li class="list-group-item">
            <a href="/crosssell/{{crosssell.id}}">{{ crosssell.name}} - {{ crosssell.customer_account }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}